<p>user-profile works!</p>

<div class="bodyComponent"></div>

<!-- PROFILE PHOTO -->
<div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="profilePhoto">
          <img src="{{selected.images[0].imageUrl}}" height="100px">
        </div>
      </div>
    </div>
  </div>

<!-- USER PROFILE NAME -->
<div class="container bg-light mainInfo">
    <div class="row">
      <div class="col title"></div>
      <div class="col-lg-8 col-md-8 col-sm-12 text-center">
          <h3 class="bg-primary text-light titleBox">{{selected.name}}</h3>
      </div>
    </div>
    <div class="row">

      <!-- User Info -->
      <div>
          <p>Id:{{user.id}} </p>
          <p>Name: {{user.fname}} {{selected.lname}}</p>
          <p>Age: {{user.age}}</p>
          <p>Phone: {{user.phone}}</p>
          <p>Email: {{user.email}}</p>
          <p>Account: {{user.Account}}</p>
          <p>Address: {{user.Address}}</p>
      </div>
      <!-- Volunteer Info -->
      <div>

      </div>
      <!-- Foster Info -->
