<br>
<div class="bodyComponent" *ngIf="user">

<!-- PROFILE PHOTO -->
<div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="profilePhoto">
            <!-- <img
            *ngIf="user.images[0]"
            src="{{ (user?.images)[0]?.imageUrl }}" height="200px"
          /> -->
          <img src="{{user.images[0].imageUrl}}" height="200px">
        </div>
      </div>
    </div>
  </div>
  <br>
<!-- USER PROFILE NAME -->
<div class="container bg-light mainInfo">

    <div class="row">

      <!-- User Info -->
      <div class="card">
          <!-- <p>Id:{{user.id}} </p> -->

          <h3 class="bg-primary text-light titleBox">{{user.fname}} {{user.lname}}</h3>
          <p>Age: {{user.age}}</p>
          <p>Phone: {{user.phone}}</p>
          <p>Email: {{user.email}}</p>
          <p>Account: {{user.account.role}}</p>
          <p>Address: {{user.address.street}}</p>
          <p>{{user.address.city}}, {{user.address.stateAbbr}} {{user.address.zip}}</p>
      </div>
      <!-- Volunteer Info -->
      <div class="card">
          <h3 class="bg-primary text-light titleBox"> Volunteer Info </h3>
        <p>Skills: {{user.skills}}</p>
      </div>
      <!-- Foster Info -->
</div>
</div>
</div>

<div class="bodyComponent" *ngIf="!user">
    Unauthorized.
</div>

<div class="bodyComponent" *ngIf="admin">

  <!-- List all users -->
  <div id="userList" *ngIf= "!selectedUser">
      <table class="table table-striped table-hover">
        <thead>

          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Account</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td> </td>
            <td (click)="selectedUser = user">{{user.fname}} {{user.lname}}</td>
            <td>{{user.age}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
            <td>{{user.account.role}}</td>
            <td>{{user.address.street}}</td>
            <!-- <td (click)="deleteUser(user.id)"> <button> X </button> </td> -->
          </tr>
        </tbody>
      </table>
  </div>

