<br>
<div class="bodyComponent" *ngIf="user">

<!-- PROFILE PHOTO -->
<div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="profilePhoto">
          <img src="{{user.images[0].imageUrl}}" height="200px">
        </div>
      </div>
    </div>
  </div>
  <br>
<!-- USER PROFILE NAME -->
<div class="container bg-light mainInfo">
    <!-- <div class="row">
      <div class="col title"></div>
      <div class="col-lg-8 col-md-8 col-sm-12 text-center">
          <h3 class="bg-primary text-light titleBox">{{user.fname}} {{user.lname}}</h3>
      </div>
    </div> -->
    <div class="row">

      <!-- User Info -->
      <div class="card">
          <!-- <p>Id:{{user.id}} </p> -->
          <h3 class="bg-primary text-light titleBox">{{user.fname}} {{user.lname}}</h3>
          <p>Age: {{user.age}}</p>
          <p>Phone: {{user.phone}}</p>
          <p>Email: {{user.email}}</p>
          <p>Account: {{user.account.role}}</p>
          <p>Address: {{user.address.street}}</p>
          <p>{{user.address.city}}, {{user.address.stateAbbr}} {{user.address.zip}}</p>
      </div>
      <!-- Volunteer Info -->
      <div>

      </div>
      <!-- Foster Info -->
</div>
</div>
</div>

<div class="bodyComponent" *ngIf="!user">
  Unauthorized.
</div>
