<div class="adminBody">
  <div class="container">



<div *ngIf="!userList && !shelterList" class="adminButtons text-center">

  <div class="buttonAdminDiv">
    <p class="adminCenterText">Enable / Disable Users</p>
    <button class="btn btn-primary lButton adminButtonStyle" (click)="userList = true">Users</button>
    <button class="btn btn-primary lButton adminButtonStyle" (click)="shelterList = true">Shelters</button>
  </div>
</div>

<div class="container adminMain bg-light" *ngIf="userList && !shelterList" id="userAdmin">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Name</th>
        <th>Role</th>
        <th>Status</th>
        <th>Disable</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.account.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.fname}}</td>
        <td>{{user.account.role}}</td>
        <td *ngIf="user.account.active">Active</td>
        <td *ngIf="!user.account.active">Disabled</td>
        <td (click)="disableUser(user)"> <button class="btn-warning btn btn-sm"> X </button> </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary lButton adminFormBtn" (click)="userList = false">Back</button>
</div>

<div class="container adminMain bg-light" *ngIf="shelterList && !userList" id="shelterAdmin">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Shelter Name</th>
        <th>Role</th>
        <th>Status</th>
        <th>Disable</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let shelter of shelters">
        <td>{{shelter.account.username}}</td>
        <td>{{shelter.email}}</td>
        <td>{{shelter.phone}}</td>
        <td>{{shelter.name}}</td>
        <td>{{shelter.account.role}}</td>
        <td *ngIf="shelter.account.active">Active</td>
        <td *ngIf="!shelter.account.active">Disabled</td>
        <td (click)="disableShelter(shelter)"> <button class="btn-warning btn btn-sm"> X </button> </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary lButton adminFormBtn" (click)="shelterList = false">Back</button>
</div>
</div>
</div>
