<nav
  *ngIf="navbar"
  class="navbar navbar-expand-lg navbar-light bg-success fixed-top"
>
  <a class="navbar-brand" href="/home">Furever Friends 🐾</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <a class="dropdown-item" [routerLink]="['/user/1']"> My Profile </a>
          <a class="dropdown-item" [routerLink]="['/pet']" > Pets </a>
          <a [routerLink]="['/register']" class="text-center regLink"
            >Register</a
          >
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
          >Disabled</a
        >
      </li>
    </ul> -->

    <!-- START SEARCH BAR -->
    <div class="col-lg-4 ml-auto">
      <form>
        <div class="input-group my-2 my-lg-0">
          <input
            type="search"
            name="navSearch"
            id="navSearch"
            class="form-control mr-sm-2"
            aria-label="Text input with dropdown button"
            placeholder="Search By Pet Name, Traits, or Breed"
            style="border-radius: 50px 0px 0px 50px;"
            [(ngModel)]="searchKeyword"
          />

          <div class="input-group-append">
            <button
              class="btn btn-primary"
              type="submit"
              style="border-radius: 0px 50px 50px 0px;"
              (click)="searchSubmit(searchKeyword)"

              [routerLink]="['/pet', 'search', searchKeyword]"
            >
              Search
            </button>
          </div>

          <!-- <div class="input-group-append dropdown-container">
            <button
              class="btn btn-primary dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              style="border-radius: 0px 50px 50px 0px;"
            >
              Search
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">s1</a>
              <a class="dropdown-item" href="#">s2</a>
              <a class="dropdown-item" href="#">s3</a>
              <a class="dropdown-item" href="#">s4</a>
            </div>
          </div> -->

        </div>
      </form>
    </div>

<!-- START NGIF TO CHECK IF USER IS LOGGED IN OR NOT....-->



<!-- LOGGED IN ACCOUNT DROPDOWN -->
    <div *ngIf="isUserLoggedIn">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
      👤 My Account {{account.username}}
      </a>
      <div class="input-group-append dropdown-container">
        <div class="dropdown-menu dropdown-menu-right col-lg-4">


          <!-- <form class="loginStyle form-group">
            <button class="btn btn-primary lButton" [routerLink]="['/user/:id']"> My Profile </button>
          </form> -->

            <form class="loginStyle form-group">
              <button class="btn btn-primary lButton" *ngIf="user" routerLink="/user/{{user.id}}"> My Profile </button>

              <button class="btn btn-primary lButton" (click)="logout()"> Logout </button>
            </form>

        </div>
      </div>
    </div>

<!-- LOG IN DROP DOWN -->
    <div *ngIf="!isUserLoggedIn">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Login / Register
      </a>
      <div class="input-group-append dropdown-container">
        <div class="dropdown-menu dropdown-menu-right col-lg-4">
          <form class="loginStyle form-group" #loginForm="ngForm">
            <label for="username">Username:</label>
            <input id="username" class="form-control" type="text" name="username" ngModel>
            <label for="password">Password:</label>
            <input id="password" class="form-control" type="text" name="password" ngModel>
            <button  (click)="login(loginForm)" class="btn btn-success lButton">Login</button>
          </form>

          <p *ngIf="errorMessage" class="errorMsg text-center">
            Invalid username or password.
          </p>

          <form class="loginStyle form-group">
            <button [routerLink]="['/register']" class="btn btn-success btn-sm lButton">
              Register
            </button>
            <!-- <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target=".registerModal">Register</button> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>




<!-- <div class="modal fade registerModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <app-register></app-register>
    </div>
  </div>
</div> -->
