<!-- FILTERS -->
<div>

Dog:<input type="checkbox" name="showDogs" [(ngModel)]="showDogs" checked>
Cat:<input type="checkbox"><br>

<!-- <select class="form-control" id="subject" *ngFor="">

  <option value="adopt" disabled>Subject</option>
</select>

<input type="checkbox"><br>
<input type="checkbox"><br>
<input type="checkbox"><br> -->

</div>

<!-- SEARCH RESULTS-->
<div class="container">
  <div class="row">
    <div *ngFor="let pet of pets | hideDog:showDogs" class="col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="petCard container">
         <div class="row">
            <div class="col-5 petCardImage">
              <img *ngIf="pet.images[0]" src="{{pet?.images[0]?.imageUrl}}">
              <img *ngIf="!pet.images[0]" src="../../../assets/img/noprofile.png">
            </div>
            <div class="col-7 cardContent">
              <div class="row">
                <div class="col bg-primary text-light petName">
                  {{pet.name}}
                </div>
              </div>

               <table class="table" style="margin-bottom: 0px">
                <tr class="row">
                  <td class="col"><strong>Breed:</strong><br>{{pet.breed.name}}</td>
                </tr>
                <tr class="row">
                  <td class="col"><strong>Size:</strong><br>{{pet.size}}</td>
                </tr>
                <tr class="row">
                  <td class="col">{{pet.age}} years old</td>
                </tr>
              </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
