<div *ngIf="!userBool && !shelterBool">
    <div class="container">
      <div class="card">
  <button class="btn btn-primary" (click)="shelterBool = true">Register a shelter</button>
  <br>
  <button class="btn btn-primary" (click)="userBool = true">Register a user</button>
      </div>
    </div>
</div>
<br>

<div *ngIf="userBool">
  <div class="container">
  <div class="card">
    <h3>New User Registration</h3>
  <form>
    <label>Email:
      <input type="email" name="email" id="email" placeholder="Email" [(ngModel)]="newUser.email">
    </label><br>
    <label>Username:
      <input type="text" name="username" id="username" placeholder="Username" [(ngModel)]="newUser.account.username">
    </label><br>
    <label>Password:
      <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="newUser.account.password">
    </label><br>
    <label>First Name:
      <input type="text" name="fname" id="fname" placeholder="First Name" [(ngModel)]="newUser.fname">
    </label><br>
    <label>Last Name:
      <input type="text" name="lname" id="lname" placeholder="Last Name" [(ngModel)]="newUser.lname">
    </label><br>
    <label>Age:
      <input type="number" name="age" id="age" placeholder="Age" [(ngModel)]="newUser.age">
    </label><br>
    <label>Phone number:
      <input type="text" name="phone" id="phone" placeholder="Phone Number" [(ngModel)]="newUser.phone">
    </label><br>
    <label>Street Address:
      <input type="text" name="street" id="street" placeholder="Street Address" [(ngModel)]="newUser.address.street">
    </label><br>
    <label>Appartment/Unit:
      <input type="text" name="street2" id="street2" placeholder="Apartment/Unit Number" [(ngModel)]="newUser.address.street2">
    </label><br>
    <label>City:
      <input type="text" name="city" id="city" placeholder="City" [(ngModel)]="newUser.address.city">
    </label><br>
    <label>State:
      <input type="text" name="stateAbbr" id="stateAbbr" minlength="2" maxlength="2" placeholder="State" [(ngModel)]="newUser.address.stateAbbr">
    </label>
    <label>Zip code:
      <input type="text" name="zip" id="zip" minlength="5" maxlength="5"  placeholder="Zip" [(ngModel)]="newUser.address.zip">
    </label><br>
    <button class="btn btn-primary" (click)="registerUser()">Submit</button>
    <button class="btn btn-danger" (click)="userBool = false">Back</button>
  </form>
  </div>
  </div>
</div>

<div *ngIf="shelterBool">
    <div class="container">
    <div class="card">
      <h3>New Shelter Registration</h3>
  <form>
    <label>Email:
      <input type="email" name="email" id="email" placeholder="Email" [(ngModel)]="newShelter.email">
    </label><br>
    <label>Username:
      <input type="text" name="username" id="username" placeholder="Username" [(ngModel)]="newShelter.account.username">
    </label><br>
    <label>Password:
      <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="newShelter.account.password">
    </label><br>
    <label>Shelter name:
      <input type="text" name="name" id="name" placeholder="Shelter Name" [(ngModel)]="newShelter.name">
    </label><br>
    <label>Phone number:
      <input type="text" name="phone" id="phone" placeholder="Phone Number" [(ngModel)]="newShelter.phone">
    </label><br>
    <label>Street Address:
      <input type="text" name="street" id="street" placeholer="Street Address" [(ngModel)]="newShelter.address.street">
    </label><br>
    <label>Suite:
      <input type="text" name="street2" id="street2" placeholder="Suite Number" [(ngModel)]="newShelter.address.street2">
    </label><br>
    <label>City:
      <input type="text" name="city" id="city" placeholder="City" [(ngModel)]="newShelter.address.city">
    </label><br>
    <label>State Abbreviation:
      <input type="text" name="stateAbbr" id="stateAbbr"  maxlength="2" minlength="2" placeholer="State" [(ngModel)]="newShelter.address.stateAbbr">
    </label>
    <label>Zip code:
      <input type="text" name="zip" id="zip" maxlength="5" minlength="5" placeholder="zip" [(ngModel)]="newShelter.address.zip">
    </label><br>
    <button class="btn btn-primary" (click)="registerShelter()" [routerLink]="['/appsubmitted']">Submit</button>
    <button class="btn btn-danger" (click)="shelterBool = false">Back</button>
  </form>
  </div>
  </div>
</div>
