/* a {
  text-decoration: none;
}*/

.shelterCard {
  /* margin-top: 20px;
  border-radius: 10px; */
  background-color: rgb(236, 236, 236, 0.7);
  border-radius: 10px;
  border-color: #5576c4;
  border-style: solid;
  border-width: 1px;
  margin: 20px;
}

.shelterCard:hover {
  background-color: rgb(236, 236, 236, 0.1);
}

.shelterDiv {
  min-height: calc(100vh - 60px);
  overflow: hidden;
}

/* .shelterRow {
  min-height: calc(100vh - 60px);
  overflow: hidden;
} */

.sideSearchImg {
  background-image: linear-gradient(rgba(255,255,255, 0.6), rgba(255,255,255, 0.6)), url('../../../assets/img/sheltercover.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.searchResultsBg {
  min-height: calc(100vh - 60px);
}

/* .mainModal {
  overflow: hidden;
} */
body.modal-open {
  overflow-y: scroll !important;
  margin: 0 !important;
}

.modal {
  overflow: auto !important;
}
