<!-- <div *ngIf="selected"> --> <!-- All shelter content should be within this div -->
<div class="bodyComponent">
<!-- SHELTER NAVIGATION -->

  <!-- COVER -->
  <div class="coverPhoto container"></div>

  <!-- PROFILE PHOTO -->
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="profilePhoto">
          <img src="{{selected?.images[0]?.imageUrl}}" height="100px">
        </div>
      </div>
    </div>
  </div>


<div class="container bg-primary name">
  <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12" style="padding-top: 40px;"></div>
      <div class="col-lg-8 col-md-8 col-sm-12 text-center bg-successs" style="margin-top: 20px; padding-bottom: 30px;">
          <h3 class="bg-primary text-light">{{selected?.name}}</h3>
      </div>
    </div>
</div>

  <!-- <div class="container bg-secondary shelterControls" style="height: 150px">
    <div class="row shelterControlRow" stlye="position: relative">


    </div>

  </div> -->


  <!-- PROFILE NAME -->
  <div class="container bg-light mainInfo">

    <!-- SHELTER INFO -->
    <div class="shelterAdminControls" *ngIf="isShelterLoggedIn">
      <div class="container text-center">
        <div class="row">
          <div class="col-4">
            <button class="btn btn-primary" [routerLink]="['/fosters']">Find Foster Homes</button>
          </div>
          <div class="col-4">
            <button class="btn btn-primary" [routerLink]="['/volunteers']">Find Volunteers</button>
          </div>
          <div class="col-4">
            <button class="btn btn-primary" [routerLink]="['/pet']">Update / Add Pets</button>
          </div>
        </div>
      </div>

    </div>
    <!-- <div class="container bg-success innerAdmin">
      <app-shelternav></app-shelternav>
    </div> -->








    <div class="row">

  <!-- CONTACT INFO -->
      <div class="col shelterInfo" *ngIf="!editShelter">
        <p><strong>Email:</strong> <br>
          {{selected?.email}}</p>

        <p><strong>Phone:</strong> <br>
        {{selected?.phone}} </p>

        <p *ngIf="selected?.address.street2">
          <strong>Address:</strong> <br>
          {{selected?.address?.street}} <br>
          {{selected?.address?.street2}}<br>
          {{selected?.address?.city}}, {{selected?.address?.stateAbbr}} {{selected?.address?.zip}}
        </p>

        <p *ngIf="!selected?.address?.street2">
          <strong>Address:</strong> <br>
          {{selected?.address?.street}} <br>
          {{selected?.address?.city}}, {{selected?.address?.stateAbbr}} {{selected?.address?.zip}}
       </p>

       <p>
         <a href="{{selected?.websiteUrl}}" target="_blank">Website</a>
       </p>

       <div class="col updateShelterInfo">
         <button class="btn btn-primary" (click)="editShelter = selected">Update Info</button>
       </div>
      </div>
      <div class="col shelterInfo" *ngIf="editShelter">
        <input type="hidden" value="editShelter.id" name="id" [(ngModel)]="editShelter.id">
        <p><strong>Email:</strong><br>
        <input type = "text" name = "email" placeholder="selected.email" default="selected.email" [(ngModel)]="editShelter.email"></p><br>
        <p><strong>Phone:</strong><br>
        <input type = "text" name = "phone" placeholder="selected.phone" default="selected.phone" [(ngModel)]="editShelter.phone"></p><br>
       <p> <strong>Address:</strong><br>
        <input type = "text" name = "address.street" placeholder="selected.address.street" default="selected.address.street" [(ngModel)]="editShelter.address.street"><br>
        <input *ngIf="selected.address.street2" type = "text" name = "address.street2" placeholder="selected.address.street2" default="selected.address.street2" [(ngModel)]="editShelter.address.street2"><br *ngIf="selected.address.street2">
        <input type = "text" name = "address.city" placeholder="selected.address.city" default="selected.address.city" [(ngModel)]="editShelter.address.city"><br>
        <input type = "text" name = "address.stateAbbr" placeholder="selected.address.stateAbbr" default="selected.address.stateAbbr" [(ngModel)]="editShelter.address.stateAbbr"><br>
        <input type = "text" name = "address.zip" placeholder="selected.address.zip" default="selected.address.zip" [(ngModel)]="editShelter.address.zip"></p><br>
        <button class="btn btn-primary" (click)="updateShelter()">Save</button>
        <button class="btn btn-primary" (click)="editShelter = null">Cancel</button>
      </div>


      <div class="col-lg-8 col-md-8 col-sm-12 text-center commentBox shelterInfo" *ngIf="!isShelterLoggedIn">


        <form class="form-group" #emailForm="ngForm">

          <div class="row contactText">
            <div class="col">
              <h1 class="text-primary"> Contact Us</h1>
            </div>
            <div class="col">
              <div class="updateText" *ngIf="sentEmailMessage">Email sent!</div>
            </div>
          </div>

          <!-- Visible only if not logged in -->
          <!-- *ngIf="!isAnyoneLoggedIn" -->
          <div class="row">
            <div class="col logDiv">
              <div class="row">
                <div class="col-lg-3 col-sm-2 col-xs-12">
                  <label for="email" style="margin-top: 7px;">Email:</label>
                </div>
                <div class="col-lg-9 col-sm-10 col-xs-12">
                <input id="email" class="form-control" type="text" name="email" ngModel>
              </div>
            </div>
           </div>
          </div>


          <!--ADD BACK WHEN DONE!-->
          <!-- *ngIf="isAnyoneLoggedIn"  -->
          <!-- <input type="text" value="{{account.email}}" name="email"> -->

          <select class="form-control subjectBox" id="subject" name="subject" ngModel>
            <option value="adopt" disabled>Subject</option>
            <option value="Adoption Request">Adopting</option>
            <option value="Volunteer Request">Volunteering</option>
            <option value="Foster Request">Fostering</option>
            <option value="Misc Subject - ForeverFriends">Other</option>
          </select>

          <!-- <input type="text" name="subject" ngModel> -->

          <!-- form="usrform"  -->
          <textarea name="body" class="form-control" ngModel>Enter text here...</textarea>

          <button class="btn btn-success formBtn" (click)="sendEmail(emailForm)">Submit</button>
        </form>












      </div>
    </div>
  </div>


<div class="container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d148575.88697948717!2d-105.06134926115526!3d39.69228245528967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1spet%20shelters!5e0!3m2!1sen!2sus!4v1577982925278!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    <!-- INSERT MAPS API HERE... -->
</div>


<div class="container bg-light" style="padding-top: 20px; padding-bottom: 50px;">
  <div class="row contactText">
    <h1 class="text-primary"> Our Pets </h1>
  </div>

  <div class="row">
    <div *ngFor="let pet of pets" class="col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="petCard container" (click)="openModule(pet)" data-toggle="modal" data-target=".bd-example-modal-lg">
         <div class="row">
            <div class="col-5 bg-danger petCardImage">
              <img *ngIf="pet.images[0]" src="{{pet?.images[0]?.imageUrl}}">
              <img *ngIf="!pet.images[0]" src="../../../assets/img/noprofile.png">
            </div>
            <div class="col-7 cardContent">
              <div class="row">
                <div class="col bg-primary text-light petName">
                  {{pet.name}}
                </div>
              </div>

               <table class="table" style="margin-bottom: 0px">
                <tr class="row">
                  <td class="col"><strong>Breed:</strong><br>{{pet.breed.name}}</td>
                </tr>
                <tr class="row">
                  <td class="col"><strong>Size:</strong><br>{{pet.size}}</td>
                </tr>
                <tr class="row">
                  <td class="col">{{pet.age}} years old</td>
                </tr>
              </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>




  <!-- <div class="container bg-light">
    <h3>Pets</h3>
    <p *ngFor="let pet of pets">
      {{pet.name}} <br>
      {{pet.size}} <br>
    </p>
  </div> -->

<!--
</div> -->
</div>

<!-- STUB OF CONTAINER -->
<!--
  <div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">

    </div>
  </div>
</div>
-->








<!-- START PET MODAL -->
<div class="modal fade bd-example-modal-lg mainModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
*ngIf="selectedPet">
  <div class="modal-dialog modal-lg">
   <div class="modal-content">
      <div class="modal-header bg-primary text-light">
        <h5 class="modal-title">{{selectedPet?.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

<!-- PET IMAGE SLIDE -->
        <div id="selectedPetCtrl" class="carousel slide petCarosel" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item {{ i == 0 ? 'active' : '' }}" *ngFor="let image of selectedPet?.images; let i = index">
              <div class="petModalImages">
              <img src="{{image.imageUrl}}">
\
            </div>

            </div>

          </div>
          <a class="carousel-control-prev" href="#selectedPetCtrl" role="button" data-slide="prev" *ngIf="selectedPet.images.length > 1">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#selectedPetCtrl" role="button" data-slide="next" *ngIf="selectedPet.images.length > 1">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

<!-- PET PESCRIPTION -->
<div class="container">
<p class="featuredText text-center text-primary">Pet Description</p>
        <table class="table container">
          <tr class="row">
            <td class="col-4">
              <strong>Breed:</strong>
            </td>
            <td class="col-8">
              {{selectedPet.breed.name}}
            </td>
          </tr>

          <tr class="row">
            <td class="col-4">
              <strong>Age:</strong>
            </td>
            <td class="col-8">
              {{selectedPet.age}}
            </td>
          </tr>

          <tr class="row">
            <td class="col-4">
              <strong>Color:</strong>
            </td>
            <td class="col-8">
              {{selectedPet.color}}
            </td>
          </tr>

          <tr class="row">
            <td class="col-4">
              <strong>Size:</strong>
            </td>
            <td class="col-8">
              {{selectedPet.size}}
            </td>
          </tr>

          <tr class="row">
            <td class="col-4">
              <strong>Weight:</strong>
            </td>
            <td class="col-8">
              {{selectedPet.weight}} pounds
            </td>
          </tr>

          <tr class="row" *ngIf="selectedPet.fixed === true">
            <td class="col-4">
              <strong>Fixed:</strong>
            </td>
            <td class="col-8">
              ✔
            </td>
          </tr>
          <tr class="row" *ngIf="selectedPet.fixed === false">
            <td class="col-4">
              <strong>Fixed:</strong>
            </td>
            <td class="col-8">
              ✖
            </td>
          </tr>

          <tr class="row">
            <td class="col-12">
              <strong>Special Conditions:</strong><br>
              {{selectedPet.specialConditions}}
            </td>
          </tr>
        </table>
      </div>

<!-- TRAIT BADGES -->
      <div class="col-3" *ngFor="let trait of selectedPet.traits">
        <h6><span class="badge badge-success">{{trait.description}}</span></h6>
      </div>


      <br>
      <br>
<!--Breed INFORMATION-->
      <div class="container">
        <p class="featuredText text-center text-primary">Breed Information</p>

        <div *ngIf="selectedPet.breed.id === 219 || selectedPet.breed.id === 173">
          There is no information for mixed breeds.
        </div>

        <table class="table" *ngIf="selectedPet.breed.id !== 219 && selectedPet.breed.id !== 173">
          <tr class="row">
            <td class="col-4">
              <strong>Description:</strong>
            </td>
            <td class="col-8">
              {{selectedPet.breed.description}}
            </td>
          </tr>

          <tr class="row">
            <td class="col-4">
              <strong>Hair type:</strong>
            </td>
            <td class="col-8">
              {{selectedPet.breed.hairType}}
            </td>
          </tr>

          <tr class="row">
            <td class="col-lg-4 col-sm-4 col-xs-5">
              <strong>Hypoallergenic:</strong>
            </td>
            <td class="col-lg-8 col-sm-8 col-xs-7" *ngIf="selectedPet.breed.hypoallergenic === true">
              ✔
            </td>
            <td class="col-lg-8 col-sm-8 col-xs-7" *ngIf="selectedPet.breed.hypoallergenic === false">
              ✖
            </td>
          </tr>

          <tr class="row">
            <td class="col-4">
              <strong>Breed Size:</strong>
            </td>
            <td class="col-8">
              {{selectedPet.breed.size}}
            </td>
          </tr>

        </table>
      </div>


<!--MODAL CLOSE BUTTON-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
</div>
<BR>
</div>


