<div class="openingDiv">
  <!-- <div class="container"> -->
    <div class="row openingRow">
      <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 openingOptions">

        <!-- Start adopt. foster .voluneer text-->
        <div class="container textCont">
          <div class="row">
            <div class="col">
              <p class="openingText" id="adopt">adopt</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="openingText" id="foster">foster</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="openingText" id="volunteer">volunteer</p>
            </div>
          </div>
          <div class="row text-center">
            <div class="col">
              <hr>
              <p class="helpText" id="help">
                help a friend in need
              </p>
              <hr>
            </div>
          </div>
        </div>

        <!-- Start search dogs and cats -->
        <div class="container text-center middleBtn">
          <button class="btn btn-success" style="border-radius: 50px;">
            Search Dogs
          </button>

          <!-- <button class="btn btn-success" style="border-radius: 50px;" [routerLink]="['/shelters']">
            Search Cats
          </button> -->
        </div>

        <!-- Find local button -->
        <div class="container text-center bottomBtn">
          <button class="btn btn-primary" style="border-radius: 50px;" [routerLink]="['/shelters']">
            Find Local Shelters
          </button>
        </div>

        <!-- Scroll down arrow -->
        <div class="scroll-down" (click)="scrollToPets()" id="featStart"></div>
      </div>
    </div>
  </div>

  <!-- CANNOT use the following code because carousels expects one "active item"  It sets all or none to active.-->
    <!-- <div *ngFor="let dog of dogs; let i = index">
    <div class="card bg-light">
      <div class="imgContainer">
      <img class="card-img-top" src="{{dog.images[0].imageUrl}}" alt="Card image cap">
      <p class="text-center">{{dog.name}}</p>
    </div>
      <div class="card-body">
        <p class="card-text">
          {{dog.name}}<br>
          Breed: {{dog.breed.name}}<br>
          Age: {{dog.age}}
        </p>
      </div>
    </div>
  </div> -->


<!-- <div class="bg-secondary">
  <div class="container">
    enter mission statment
    <br>
<br>
<br>
<br>
<br>
<br>
  </div>

</div> -->


<div class="container-fluid dogSection">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bg-primary doggo">

      <p class="featuredText text-center">Featured Dogs</p>
      <!-- START DOG CAROUSEL -->
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">

              <div class="card bg-light" (click)="openModule(dogs[0])" data-toggle="modal" data-target=".bd-example-modal-lg">
                <div class="imgContainer">
                  <img class="card-img-top" src="{{dogs[0].images[0].imageUrl}}" alt="Card image cap">
                </div>
                <div class="card-body">
                  <p class="card-text">
                    {{dogs[0].name}}<br>
                    {{dogs[0].breed.name}}<br>
                    Age: {{dogs[0].age}}<br>
                    <a href="/shelter/{{shelter[0].id}}">{{shelter[0].name}}</a>
                  </p>
                </div>
            </div>

            </div>
            <div class="carousel-item">

              <div class="card bg-light" (click)="openModule(dogs[1])" data-toggle="modal" data-target=".bd-example-modal-lg">
                <div class="imgContainer">
                  <img class="card-img-top" src="{{dogs[1].images[0].imageUrl}}" alt="Card image cap">
                </div>
                <div class="card-body">
                  <p class="card-text">
                    {{dogs[1].name}}<br>
                    {{dogs[1].breed.name}}<br>
                    Age: {{dogs[1].age}}<br>
                    <a href="/shelter/{{shelter[1].id}}">{{shelter[1].name}}</a>
                  </p>
                </div>
            </div>

            </div>
            <div class="carousel-item text-center">

              <div class="card bg-light" (click)="openModule(dogs[2])" data-toggle="modal" data-target=".bd-example-modal-lg">
                <div class="imgContainer">
                  <img class="card-img-top" src="{{dogs[2].images[0].imageUrl}}" alt="Card image cap">
                </div>
                <div class="card-body">
                  <p class="card-text">
                    {{dogs[2].name}}<br>
                    {{dogs[2].breed.name}}<br>
                    Age: {{dogs[2].age}}<br>
                    <a href="/shelter/{{shelter[2].id}}">{{shelter[2].name}}</a>
                  </p>
                </div>
            </div>

            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 dogbg">


        Insert something cool about dogs, or how to adopt, w/e here.


    </div>
  </div>
</div>

<div class="container-fluid dogSection">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 catbg">

      Insert something cool about cats, or how to adopt, w/e here.




    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 kitty bg-warning">
      <p class="featuredText text-center">Featured Cats</p>
      <!-- START CAT CAROUSEL -->
        <div id="catControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">

              <div class="card bg-light" (click)="openModule(cats[0])" data-toggle="modal" data-target=".bd-example-modal-lg">
                <div class="imgContainer">
                  <img class="card-img-top" src="{{cats[0].images[0].imageUrl}}" alt="Card image cap">
                </div>
                <div class="card-body">
                  <p class="card-text">
                    {{cats[0].name}}<br>
                    {{cats[0].breed.name}}<br>
                    Age: {{cats[0].age}}<br>
                    <a href="/shelter/{{shelterCat[0].id}}">{{shelterCat[0].name}}</a>
                  </p>
                </div>
            </div>

            </div>
            <div class="carousel-item">

              <div class="card bg-light" (click)="openModule(cats[1])" data-toggle="modal" data-target=".bd-example-modal-lg">
                <div class="imgContainer">
                  <img class="card-img-top" src="{{cats[1].images[0].imageUrl}}" alt="Card image cap">
                </div>
                <div class="card-body">
                  <p class="card-text">
                    {{cats[1].name}}<br>
                    {{cats[1].breed.name}}<br>
                    Age: {{cats[1].age}}<br>
                    <a href="/shelter/{{shelterCat[1].id}}">{{shelterCat[1].name}}</a>
                  </p>
                </div>
            </div>

            </div>
            <div class="carousel-item text-center">

              <div class="card bg-light" (click)="openModule(cats[2])" data-toggle="modal" data-target=".bd-example-modal-lg">
                <div class="imgContainer">
                  <img class="card-img-top" src="{{cats[2].images[0].imageUrl}}" alt="Card image cap">
                </div>
                <div class="card-body">
                  <p class="card-text">
                    {{cats[2].name}}<br>
                    {{cats[2].breed.name}}<br>
                    Age: {{cats[2].age}}<br>
                    <a href="/shelter/{{shelterCat[2].id}}">{{shelterCat[2].name}}</a>
                  </p>
                </div>
            </div>

            </div>
          </div>
          <a class="carousel-control-prev" href="#catControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#catControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
</div>






<!--NEW MODAL TEST-->
<!--
<div id="carouselExampleControls111" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

   <div *ngFor="let dog of dogs">
    <div class="carousel-item active" *ngIf="dog.id == dogs[0].id">
        <div class="card bg-light">
          <div class="imgContainer">
          <img class="card-img-top" src="{{dog.images[0].imageUrl}}" alt="Card image cap">
          <p class="text-center">{{dog.name}}</p>
        </div>
          <div class="card-body">
            <p class="card-text">
              {{dog.name}}<br>
              Breed: {{dog.breed.name}}<br>
              Age: {{dog.age}}
              ayyy
            </p>
          </div>
        </div>
      </div>

      <div class="carousel-item" *ngIf="dog.id == dogs[1].id">
        <div class="card bg-light">
          <div class="imgContainer">
          <img class="card-img-top" src="{{dog.images[0].imageUrl}}" alt="Card image cap">
          <p class="text-center">{{dog.name}}</p>
        </div>
          <div class="card-body">
            <p class="card-text">
              {{dog.name}}<br>
              {{dog.breed.name}}<br>
              Age: {{dog.age}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls111" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls111" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->





    <!--FIGURE THIS OUT BETTER?-->
    <!-- {{dog.shelter.name}} -->


  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->

  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
     <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{selected.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>

            ## PET MODAL STUB ##

          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        </div>
      </div>
  </div>

<BR>

<!-- </div> -->

