
<div class="container-fluid">
  <div class="row contactText">
    <h1 class="text-primary"> Fosters </h1>
  </div>

  <div class="row">
    <div *ngFor="let foster of fosters" class="col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="petCard container" (click)="openModule(foster)" data-toggle="modal" data-target=".bd-example-modal-lg">
         <div class="row">
            <div class="col-5 petCardImage">
              <img *ngIf="foster.user.images[0]" src="{{foster.user.images[0]?.imageUrl}}">
              <img *ngIf="!foster.user.images[0]" src="../../../assets/img/noprofile.png">
            </div>
            <div class="col-7 cardContent">
              <div class="row">
                <div class="col bg-primary text-light petName">
                  {{foster.user.fname}} {{foster.user.lname}}
                </div>
              </div>

               <table class="table" style="margin-bottom: 0px">
                <tr class="row">
                  <td class="col"><strong>Available Slots:</strong><br>{{foster.maxFoster - foster.fosterPets.length}}</td>
                </tr>
                <tr class="row">
                  <td class="col"><strong>Willing to Foster:</strong><br>
                    <div *ngIf="foster.breedList.length < 1">N/A</div>
                    <div *ngFor="let breed of foster.breedList">{{breed.name}}</div>
                  </td>
                </tr>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
