
<!-- <h1>List of fosters</h1>

<div *ngIf="!selected">
  <div class="container">
    <div *ngFor="let foster of fosters" class="row"> -->
      <!-- switch to user/user.id when user is setup -->
      <!-- <a href="/shelter/{{shelter.id}}"> -->
        <!-- <div class="col" >
          <h3> {{foster.user.fname}} </h3>
        </div>
    </div>
  </div>
</div> -->


<div class="container-fluid shelterDiv">
  <div class="row shelterRow">
  <div class="col bg-primary rightImage sideSearchImg"></div>

  <!-- Right side -->
  <div class="col-lg-10 searchResultsBg">
    <div *ngFor="let foster of fosters; let i = index">


      <div class="row shelterCard">
        <!-- Add routerLink in div above ^^ -->
        <div class="col" style="overflow: hidden;">


          <table class="table">
            <tr class="row">
              <td class="col-12">
                      <!-- switch to user/user.id when user is setup -->
      <!-- <a href="/shelter/{{shelter.id}}"> -->
                <h3> {{foster.user.fname}} </h3>
              </td>
            </tr>
            <!-- <tr class="row">
              <td class="col-12">
                {{shelter.address.street}}<br>
                {{shelter.address.city}}, {{shelter.address.stateAbbr}} {{shelter.address.zip}}
              </td>
            </tr> -->

          </table>


        </div>
     </div>


   </div>
  </div>
  </div>
</div>
