<div class="PetUpdateBody">
  <div class="PetUpdateInner container bg-light">

<div id="createNewPet" *ngIf="create">
  <button class="btn btn-primary" (click)="create = false">Back</button>
  Add a Pet
  <form>

    <label>Name:
      <br><input type="text" name="name" [(ngModel)]="createPet.name" placeholder="Enter name">
    </label><br>
    <label>Color(s):
      <br><input type="text" name="color" [(ngModel)]="createPet.color" placeholder="Enter color(s)">
    </label><br>
    <label>Age:
      <br><input type="number" name="age" [(ngModel)]="createPet.age" placeholder="Enter age">
    </label><br>
    <label>Weight:
      <br><input type="number" name="weight" [(ngModel)]="createPet.weight" placeholder="Weight">
    </label><br>
    <label>
      <br><input type="text" name="images" [(ngModel)]="createPet.images" placeholder="Image Url">
    </label><br><br>
    <label> Special Conditions:
      <br><input type="text" name="specialConditions" [(ngModel)]="createPet.specialConditions" placeholder="Special Conditions">
    </label><br><br>
    <label>Enter pet size: <br>
      <input type="radio" name="size" [(ngModel)]="createPet.size" value="large"> Large<br>
      <input type="radio" name="size" [(ngModel)]="createPet.size" value="average"> Average<br>
      <input type="radio" name="size" [(ngModel)]="createPet.size" value="small"> Small<br>
    </label><br><br>
    <label>Is the animal fixed: <br>
      <input type="radio" name="fixed" [(ngModel)]="createPet.fixed" value="true"> Spayed/Neutered<br>
      <input type="radio" name="fixed" [(ngModel)]="createPet.fixed" value="false"> Un-Spayed/Un-Neutered<br>
    </label><br><br>
      <label *ngIf="!dogCreate && !catCreate">Choose pet species:<br>

      <button (click)="dogCreate = true">Dog</button>

      <button (click)="catCreate = true">Cat</button>

    </label>
    <label *ngIf="dogCreate && !catCreate">Choose breed of dog: <br>

      <select name="dogBreed" [(ngModel)]="createPet.breed.id">
        <option *ngFor="let dogBreed of breedList | breedSeparator: true" name="dogBreed" [value]="dogBreed.id">{{dogBreed.name}}</option>
      </select><br>

      <button class="btn btn-primary lButton" (click)="dogCreate = false">Back</button>

    </label>
    <label *ngIf="!dogCreate && catCreate">Choose breed of cat: <br>

      <select name="catBreed" [(ngModel)]="createPet.breed.id">
        <option *ngFor="let catBreed of breedList | breedSeparator: false" name="catBreed" [value]="catBreed.id">{{catBreed.name}}</option>
      </select><br>

      <button class="btn btn-primary lButton" (click)="catCreate = false">Back</button>

    </label><br><br>
    <label>Choose Traits: <br>

      Intellegent: <input type="checkbox" name="traits" [(ngModel)]="traitBoolean[0].active">
      Playful: <input type="checkbox" name="traits" [(ngModel)]="traitBoolean[1].active">
      Gentle: <input type="checkbox" name="traits" [(ngModel)]="traitBoolean[2].active"><br>
      Alert: <input type="checkbox" name="traits" [(ngModel)]="traitBoolean[3].active">
      Confident: <input type="checkbox" name="traits" [(ngModel)]="traitBoolean[4].active">
      Faithful: <input type="checkbox" name="traits" [(ngModel)]="traitBoolean[5].active"><br>
      Outgoing: <input type="checkbox" name="traits" [(ngModel)]="traitBoolean[6].active">
      Cuddly: <input type="checkbox" name="traits" [(ngModel)]="traitBoolean[7].active">
      Reserved: <input type="checkbox" name="traits" [(ngModel)]="traitBoolean[8].active"><br>
      Affectionate: <input type="checkbox" name="traits" [(ngModel)]="traitBoolean[9].active">
      Quiet: <input type="checkbox" name="traits" [(ngModel)]="traitBoolean[10].active">
      Adventurous: <input type="checkbox" name="traits" [(ngModel)]="traitBoolean[11].active">

    </label><br>
    <input type="submit" value="Submit" (click)="addPet()">
    <button class="btn btn-primary" (click)="create = false">Back</button>

      </form>
      <br>
      {{shelter.name}}
      Total Number of Pets
      <!-- <span class="badge badge-primary" [ngClass]="badgeColor() ">
        {{countPets()}}
      </span> -->
    </div>
    <br>
  <!-- List all pets -->

<!-- BUTTON TO CREATE A PET -->
  <div class="container text-center" *ngIf="!create && selectedPet === null">
    <button class = "btn btn-primary lButton" (click)="create = true">Enter new pet</button>
  </div>

<!-- PET TABLE -->
  <div id="petList" class="container" *ngIf= "!selectedPet && !create">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Species</th>
          <th>Breed:</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pet of pets" (click)="selectedPet = pet">
          <td>{{pet.name}}</td>
          <td>{{pet.breed.species.name}}</td>
          <td>{{pet.breed.name}}</td>
          <td>{{pet.age}}</td>
        </tr>
      </tbody>
    </table>
  </div>

<!-- PET "PROFILE" -->
  <div *ngIf="selectedPet" class="container">
    <div class="container text-center">
      <button class="btn btn-lg btn-primary" (click)="selectedPet = null">Back</button>
    </div>

    <!-- PET PROFILE PICTURE -->
    <div class="row">
      <div class="col-lg-6">
        <div class="profilePhotoPet" style="margin-top: 30px;">
          <img *ngIf="selectedPet.images[0]" src="{{ (selectedPet?.images)[0]?.imageUrl }}"/>
          <img *ngIf="!selectedPet.images[0]" src="../../../assets/img/noprofile.png"/>
        </div>
      </div>

      <div class="col-lg-6">

        <h2>Edit Pet # {{selectedPet.id}}</h2>
        <form>

          Name: <input type = "text" name = "name" [(ngModel)]="selectedPet.name"> <br>
          Color: <input type="text" name= "color" [(ngModel)]="selectedPet.color" > <br>
          Size: <input type="text" name="size" [(ngModel)]="selectedPet.size" ><br>
          Age: <input type="text" name="age" [(ngModel)]="selectedPet.age" > <br>
          Weigt: <input type="text" name="weight" [(ngModel)]="selectedPet.weight" > <br>
          <button (click)="updatePet()">Save</button>
          <button (click)="selectedPet = null">Cancel</button>
        </form>




      </div>
   </div>

        <!-- <li>Picture: <img src="{{ selectedPet.images[0].imageUrl }}" height= "300px"> </li> -->


        <!-- TRAIT BADGES -->
      <div class="col-3" *ngFor="let trait of selectedPet.traits">
          <h6><span class="badge badge-success">{{trait.description}}</span></h6>
        </div>

        <td (click)="deletePet(selectedPet.id)"> <button> Delete </button> </td>


          <!-- <h2>Edit Pet # {{selectedPet.id}}</h2>
          <form>

            Name: <input type = "text" name = "name" [(ngModel)]="selectedPet.name"> <br>
            Color: <input type="text" name= "color" [(ngModel)]="selectedPet.color" > <br>
            Size: <input type="text" name="size" [(ngModel)]="selectedPet.size" ><br>
            Age: <input type="text" name="age" [(ngModel)]="selectedPet.age" > <br>
            Weigt: <input type="text" name="weight" [(ngModel)]="selectedPet.weight" > <br>
            <button (click)="updatePet()">Save</button>
            <button (click)="selectedPet = null">Cancel</button>
          </form> -->
  </div>

  </div>
</div>
